
<div>
<%= form_for(@post, url: '/post') do |f| %>
  <div>
    <p><%= f.label :question %></p>
    <%= f.text_field :question %>
  </div>

  <div>
    <%= f.submit "Submit question!" %>
  </div>
  <% end %>
  </div>
